.box-shadow{
    box-shadow: 0 .125rem .125rem rgba(0,0,0,.075); 
}

.border-btm{
    border-bottom: 1px solid #d6d0d0;
}

.container{
    margin-top: 5rem ;

}

.video{
    margin: 100px;
    margin-left: 350px ;
}

body {
    background-image: url("abstract-technology-particle-background_52683-25766.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: bolder;
    color: aqua;
   }

